<h1>Welcome to RPS!</h1>
  <div>
    <label for="player1">Enter you name:</label>
    <input id="player 1 name" type="text" name="name1">
  </div>
       <div>
         <input type="submit" value="rock" name="hand" class="round button">
         <input type="submit" value="paper" name="hand" class="round button">
         <input type="submit" value="scissor" name="hand" class="round button">
       </div>
  <form action="/second_player" method="post">
    <input type="submit" value="confirm!"/>
  </div>
</form>
