<h1>Welcome to RPS!</h1>
<h2>Do you want to play solo or in multy player?</h2>
<form action="/one_player" method="get">
  <input type="submit" value="one Player!"/>
</form>

<form action="/first_player" method="get">
  <input type="submit" value="two Player!"/>
</form>
