<h1><%= "#{@game.play}" %>
<h2><%= "you chose #{@game.player1} and the computer chose #{@game.player2}" %></h2>

<form action="/play_solo" method="get">
  <input type="Submit" value="new game"></form>
  <form action="/" method="get">
  <input type="Submit" value="new player"></form>
  <form action="/end" method="get">
  <input type="Submit" value="quit game">
</form>
