<h1>Welcome to RPS!</h1>
<form action="/names" method="post">
  <div>
    <label for="player1">Enter you name:</label>
    <input id="player 1 name" type="text" name="name1">
  </div>
  <div>
    <label for="player2">Enter you name:</label>
    <input id="player 2 name" type="text" name="name2">
  </div>
  <div>
    <input type="submit" value="confirm!"/>
  </div>
</form>
